<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCvSharp4" version="4.8.0.20230708" targetFramework="net48" />
  <package id="OpenCvSharp4.runtime.win" version="4.8.0.20230708" targetFramework="net48" />
  <package id="Sdcb.Mkldnn.runtime.win64" version="0.19.0" targetFramework="net48" />
  <package id="Sdcb.Onnx.runtime.win64" version="1.11.22.423" targetFramework="net48" />
  <package id="Sdcb.Paddle2Onnx.runtime.win64" version="1.0.0.2" targetFramework="net48" />
  <package id="Sdcb.PaddleInference" version="2.5.0.1" targetFramework="net48" />
  <package id="Sdcb.PaddleInference.runtime.win64.mkl" version="2.5.1" targetFramework="net48" />
  <package id="Sdcb.PaddleOCR" version="2.7.0" targetFramework="net48" />
  <package id="Sdcb.PaddleOCR.Models.Local" version="2.7.0" targetFramework="net48" />
  <package id="Sdcb.PaddleOCR.Models.LocalV3" version="2.7.0" targetFramework="net48" />
  <package id="Sdcb.PaddleOCR.Models.LocalV4" version="2.7.0" targetFramework="net48" />
  <package id="Sdcb.PaddleOCR.Models.Shared" version="2.7.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>